@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

button {
    padding: 0px;
    background: none;
    border: none;
}

#header {
    background-color: #B17C58E6;    /* E6 = 90% opacity */
    height: 8vh;
    font-family: "Raleway", sans-serif;
    color: #ebceb8;
}

#navbar * {
    margin: 0px 15px;
}

#user-info > *, #logo > * {
    margin: 0px 15px;
}