/**
body * {
    outline: black solid 2px;
}
**/

body {
    background: url("../res/background.png") no-repeat center center fixed;
    background-size: cover;
    color: #f5edda;
}

a {
    text-decoration: none;
    color: #f5edda;
}

a:hover {
    color: #e9cba7;
}

.vertical-center {
    display: flex;
    align-items: center;
}