/*
body * {
    outline: black solid 2px;
}
*/

html {
    min-height: 100%;
}

body {
    background: url("../res/background.png") no-repeat center center fixed;
    background-size: cover;
    color: #f5edda;
    height: 100%;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: #ebceb8;
}

a:hover {
    color: #f5edda;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

#content {
    margin-top: 8vh;
    margin-bottom: 5vh;
    padding: 0px;
    min-height: 87vh;
}

/* TEXT INPUT STYLING */
input {
    width: 100%;
}

input,
.btn,
.form-control,
.form-control:focus {
    border: 1px solid #8e756a;
    border-radius: 0.25rem;
    background-color: #f5edda;
    color: #8e756a;
    padding: 10px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

/* TAG STYLING */

.tag-container {
    padding: 5px;
}

.tag {
    display: inline;
    background-color: #f5edda;
    border: 1px solid #8e756a;
    border-radius: 0.25rem;
    padding: 2px;
    color: #8e756a;
}

.tag a {
    color: #8e756a;
    font-size: 0.8em;
    vertical-align: center;
}

.tag a:hover {
    color: #ebceb8;
}

/* DROPDOWN STYLING */

.dropdown-toggle,
.custom-select,
.dropdown-item,
.dropdown-menu {
    background-color: #f5edda;
    color: #8e756a;
    border-color: #8e756a;
}

.btn:hover,
.dropdown-toggle:hover,
.dropdown-item:hover,
.show>.dropdown-toggle,
.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle  {
    background-color: #8e756a;
    color: #f5edda;
}

/* MASONRY STYLING */

.masonry {
    column-count: 4;
    column-gap: 1em;
    padding: 10px;
}

.masonry-item {
    background-color: #ebceb8;
    color: #8e756a;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.masonry-item a {
    color: inherit;
}

.masonry-item img {
    object-fit: contain;
    width: 100%;
}
