<!-- Default footer for bottom -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}"/>

<div id="footer-container" class="container-fluid fixed-bottom"/>
<div id="footer" class="row"/>
<div id="copyright" class="col vertical-center"/>
<i class="far fa-copyright"></i> recipebox copyright
</div>
<div id="social-links" class="col vertical-center justify-content-end d-flex"/>
<button><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></button>
<button><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></button>
</div>
</div>
</div>
