<!-- Navbar stuck at top -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
<div class="container-fluid">
  <div id="header" class="row">
    <div id="logo" class="col-12 col-md-2 justify-content-center justify-content-md-start vertical-center">
      <i class="fas fa-pizza-slice"></i> RECIPEBOX
    </div>
    <div id="navbar" class="col vertical-center d-flex">
      <div class="nav-btn">EXPLORE</div>
      <div class="nav-btn">BLOG</div>
      <div class="nav-btn">CONTACT</div>
    </div>
    <div id="user-info" class="col-md-2 vertical-center justify-content-end d-flex">
      <i class="fas fa-bell"></i>
      <i class="fas fa-user"></i>
    </div>
  </div>
</div>
