{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipes/browse.css') }}"/>
{% endblock %}

{% block content %}

	<div id="browse-container" class="container-fluid">
		<div id="content-row" class="row">
			<div id="search-col" class="col-3">
				<form id="search" action="/recipe/" method="post">
					<br/>
					<p>I'm in the mood for...</p>
					<br/>
					<div><input type="text" name="search-text" placeholder="Search"/></div>
					<div>
						<select class="dropdown-toggle" name="search-courses" aria-label="Meal & Courses">
							<option selected>Meal & Courses</option>
							{% for course in courses %}
								<option class="dropdown-item" value="">{{ course }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="relative">
						<input name="search-ingredients" list="" class="form-control datalist-input" id="ingredients-input" value="Ingredient">
						<datalist id="ingredients" class="dropdown-menu datalist-list">
							{% for ingredient in ingredients %}
								<option class="dropdown-item">{{ ingredient.name }}</option>
							{% endfor %}
						</datalist>
					</div>
					<div>
						<select class="dropdown-toggle" name="search-sort" aria-label="Sort By">
							<option selected>Sort By</option>
							{% for sort in sorts %}
								<option class="dropdown-item" value="">{{ sort }}</option>
							{% endfor %}
						</select>
					</div>
					<div>
						<button class="btn" type="submit" name="search">Search</button>
					</div>
				</form>
				{% include 'footer.html' ignore missing %}
			</div>
			<div id="browse-entries" class="col-9 offset-3">
				<div class="masonry">
					{% for item in browse_items %}
						<div class="masonry-item">
							<div id="item-header">
								<p><i class="fas fa-clock"></i> {{ item.cook_time }}mins</p>
								<p class="right-text"><i class="fas fa-heart"></i> {{ item.likes|length }}</p>
							</div>
							<a href="{{ url_for('recipe_bp.recipe_view', id=item.id) }}"><img
									src="{{ url_for('static', filename='res/recipes/' + item.picture) }}"></a>
							<div id="item-footer">
								<i class="fas fa-user"></i>
								<div>
									<a href="{{ url_for('recipe_bp.recipe_view', id=item.id) }}">
										<h5>{{ item.name }}</h5></a>
									<p>By {{ item.user_object.username }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='js/new-datalist.js') }}" charset="utf-8"></script>
{% endblock %}

{% block footer %}{% endblock %}
