{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipes/new.css') }}"/>
{% endblock %}

{% block title %}NEW RECIPE{% endblock %}

{% block content %}

	<div id="new-container" class="container">
		<h1>NEW RECIPE</h1>
		<br>
		<form action="/recipe/new/" method="post">
			<div class="form-group row">
				<label for="recipe_name" class="col-sm-2 vertical-center">Name</label>
				<div class="col-sm-10">
					<input type="text" id="recipe_name" name="recipe_name" placeholder="Recipe Name">
				</div>
			</div>
			<div class="form-group row">
				<label for="recipe_cooktime" class="col-sm-2 vertical-center">Cook Time</label>
				<div class="col-sm-10">
					<input type="number" id="recipe_cooktime" name="recipe_cooktime"
					       placeholder="Cook Time (in minutes)">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 vertical-center">Image</label>
				<div class="col-sm-10 custom-file">
					<input type="file" class="custom-file-input" name="recipe_image" id="recipe_image">
					<label class="col-sm-2 custom-file-label" for="recipe_image">Choose file...</label>
				</div>
			</div>
			<div class="form-group row">
				<label for="recipe_ingredients" class="col-sm-2 vertical-center">Ingredients</label>
				<div class="col-sm-10">
					<div class="ingredients-parent">
						<div class="input-group recipe-ingredients">
							<input type="number" name="recipe_amount[]" class="form-control" placeholder="Amount">
							<input type="text" name="recipe_unit[]" class="form-control" placeholder="Unit">
							<select class="custom-select" name="recipe_ingredients[]">
								<option selected>Ingredient</option>
								{% for ingredient in ingredients %}
									<option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
								{% endfor %}
							</select>
							<div class="input-group-append">
								<input type="button" value="x" id="remove-ingredient-btn">
							</div>
						</div>
					</div>
					<input type="button" value="Add Ingredient" id="add-ingredient-btn">
				</div>
			</div>
			<div class="form-group row">
				<label for="recipe_procedures" class="col-sm-2 vertical-center">Procedures</label>
				<div class="col-sm-10">
					<div class="procedures-parent">
						<div class="input-group recipe-procedures">
							<input type="text" class="form-control" id="recipe_procedure_text" name="recipe_procedure[]" placeholder="Recipe Procedure">
							<div class="input-group-append">
								<input type="button" value="x" id="remove-procedure-btn">
							</div>
						</div>
					</div>
					<input type="button" value="Add Procedure" id="add-procedure-btn">
				</div>
			</div>
			<br>
			<input type="submit" id="submit" name="recipe">
		</form>
	</div>

{% endblock %}

{% block script %}

	<script src="{{ url_for('static', filename='js/recipe_new_form.js') }}" charset="utf-8"></script>

{% endblock %}
