{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipes/view.css') }}"/>
{% endblock %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
	<div id="view-container" class="container">
		<div id="recipe-info" class="row">
			<div class="col-4">
				<div class="img-box">
					<img src="{{ url_for('static', filename='res/recipes/' + recipe.picture) }}"></div>
			</div>
			<div class="col vertical-center">
				<h3>{{ recipe.name }}</h3>
				<a href="{{ url_for('auth_bp.profile_user', user_id=recipe.user_object.id) }}"><p class="subtitle">{{ recipe.user_object.username }}</p></a>
				<div class="inline">
					<div id="star-score">
						{% for i in range(5) %}
							<i class="fas fa-star {{ 'selected' if i < recipe.rating_score() }}"></i>
						{% endfor %}
						<p>({{ recipe.ratings|length }})</p>
					</div>
					<div id="like-button">
						<a href="#" class="like-button-request"><i class="fas fa-heart {{ 'selected' if recipe.liked_by() }} "></i></a>
						<p class="like-button-label">{{ recipe.likes|length }}</p>
					</div>
				</div>
				<div id="description">
					{{ recipe.description }}
				</div>
			</div>
		</div>
		<div id="recipe-procedure" class="row">
			<div id="ingredient-list" class="col-6">
				<h3>Ingredients</h3>
				<ul class="list-group list-group-flush">
					{% for ingredient in recipe.ingredients %}
						<li class="list-group-item">
							{{ ingredient.quantity }} | {{ ingredient.unit }} | {{ ingredient.ingredient_object.name }}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div id="method-list" class="col-6">
				<h3>Method</h3>
				<ul class="list-group list-group-flush">
					{% for procedure in recipe.procedures %}
						<li class="list-group-item">
							{{ procedure.recipe_step }} | {{ procedure.procedure }}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div id="comments"></div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='js/like.js') }}" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/star-score.js') }}" charset="utf-8"></script>
{% endblock %}