{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general/index.css') }}"/>
{% endblock %}

{% block title %}INDEX{% endblock %}

{% block content %}
	<div id="centered-box">
		<div id="big-logo">
			<i class="fas fa-pizza-slice"></i> RECIPEBOX
		</div>
		<form id="search" action="/recipe/" method="post">
			<p class="inline">I'm in the mood for...</p>
			<div>
				<select class="dropdown-toggle" name="search-courses" aria-label="Meal & Courses">
					<option selected>Meal & Courses</option>
					{% for course in courses %}
						<option class="dropdown-item" value="">{{ course }}</option>
					{% endfor %}
				</select>
			</div>
			<p class="inline">with...</p>
			<div>
				<input name="search-ingredients" list="" class="form-control datalist-input" id="ingredients-input" value="Ingredient">
				<datalist id="ingredients" class="dropdown-menu datalist-list">
					{% for ingredient in ingredients %}
						<option class="dropdown-item">{{ ingredient.name }}</option>
					{% endfor %}
				</datalist>
			</div>
			<button type="submit" id="submit" name="search" class="inline"><i class="fas fa-arrow-right"></i></button>
		</form>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='js/new-datalist.js') }}" charset="utf-8"></script>
{% endblock %}