{% extends "base.html" %}

{% block content %}

  <div class="container">
    <h1>RECIPES</h1>
    {% for recipe in recipes %}
      <ul id="{{ recipe.name }}">
        <li>
          <span class="field-name">Recipe:</span>
          <span class="field-value">{{ recipe.name }}</span>
        </li>
        {% for ingredient in recipe.ingredients %}
        <li>
            <span class="field-value">{{ ingredient.quantity }} | {{ ingredient.unit }}</span>
        </li>
        {% endfor %}

      </ul>
    {% endfor %}
  </div>

{% endblock %}