#content {
    position: relative;
    height: 87vh;
}

#centered-box {
    width: fit-content;
}

#big-logo {
    color: #8e756a;
    font-size: 120px;
    text-align: center;
    background-color: #f5edda;
    margin-bottom: 20px;
}

#search {
    background-color: #ebceb8;
    color: #8e756a;
    border: 7px solid #8e756a;
    width: 100%;
    height: fit-content;
    margin: 0px;
    display: table;
}

#search * {
    font-size: 20px;
}

#search > * {
    height: 100%;
    padding: 0px;
    display: table-cell;
    float: none;
    vertical-align: top;
}

#submit {
    color: #ebceb8;
    background-color: #8e756a;
    height: 100%;
    width: 100%;
    transform: translateX(1px);
}

#submit:hover {
    color: #f5edda;
}