{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth/login.css') }}"/>
{% endblock %}

{% block title %}LOGIN{% endblock %}

{% block content %}
	<div id="centered-box">
		<div id="big-logo">
			<i class="fas fa-pizza-slice"></i> RECIPEBOX
		</div>
		<div class="flash-box">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				{{ messages[0] }}
			{% endif %}
			{% endwith %}
		</div>
		<form method="post" action="/auth/login/">
			<div class="form-group row">
				<label for="email" class="col-sm-3 vertical-center">Email</label>
				<div class="col-sm-9">
					<input type="email" name="email" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-sm-3 vertical-center">Password</label>
				<div class="col-sm-9">
					<input type="password" name="password" required>
				</div>
			</div>
			<br>
			<input type="submit" id="submit" value="Login">
		</form>
	</div>
{% endblock %}